WcfClient/Connected Services/SampleWcfRef/wcfservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://samplewcf.dev.com/" elementFormDefault="qualified" targetNamespace="https://samplewcf.dev.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetRamdomGuid">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetRamdomGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRamdomGuidResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>